<div class="container filter-conteiner">

  <div class="row">
    <form class="form-inline" #form="ngForm"novalidate>
      <div class="form-group">
        <input type="text" placeholder="Выберите дату" class="form-control" #dp="bsDatepicker" 
              bsDatepicker [(bsValue)]="dateTime" (bsValueChange)="getAppointmentsWithParams($event)"
              [bsConfig]="bsConfig">
        <!-- <input type="date" class="form-control" style="width: 270px" id="name" name="name" (change)="loadAppointments()" [(ngModel)]="userParams.dateTime"> -->
      </div>

      <div class="form-group">
        <label for="departments">Отделения: </label>
        <select class="form-control" style="width: 170px" id="departments" name="departments" (change)="getAppointmentsWithParams()" [(ngModel)]="department">
          <option disabled selected>Отделения</option>
          <option *ngFor="let item of sharedDepartmentsList" [value]="item?.name">
            {{item?.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="positions">Врачи: </label>
        <select class="form-control" style="width: 170px" id="positions" name="positions" (change)="getAppointmentsWithParams()" [(ngModel)]="position">
          <option *ngFor="let item of sharedPositionsList" [value]="item?.name">
            {{item?.name}}
          </option>
        </select>
      </div>
      <button type="button" class="btn btn-info" style="margin-left:10px" (click)="resetFilters()">Сбросить</button>
    </form>
  </div>
  <br>  
</div>


<h4 class="text-center">Приемы врачей</h4>
<table class="table table-hover table-bordered table-container  table-aligment">
  <thead>
      <tr>
          <th>Дата</th>
          <th>Время</th>
          <th>Длительность</th>
          <th>Отделения</th>
          <th>Врач</th>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of sharedAppointmentsList" (click)="linkToUser(item.id)">
          <td>{{item.dateTime | date:'dd.MM.yy'}}</td>
          <td>{{item.dateTime | date:'HH:mm'}}</td>
          <td>{{item.duration}}</td>
          <td>{{item.staff.department.name}}</td>
          <td>{{item.staff.position.name}}</td>
          <td>{{item.staff.familyName}}</td>
          <td>{{item.staff.name}}</td>
          <td>{{item.staff.middleName}}</td>
      </tr>        
  </tbody>
</table>

  <div class="text-center">
      <pagination [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage" 
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="pagination.currentPage" class="pagination-sm"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>