<div class="container filter-conteiner">
    <div class="row">
      <form class="form-inline" #form="ngForm">
        <button type="button" class="btn btn-info" style="margin-left:10px" (click)="patientDiseaseRegister()">Внести новое заболевание</button>
        <!-- <button type="button" class="btn btn-info" style="margin-left:10px" (click)="appointmentRegister()">Записать на прием</button> -->
      </form>
    </div>
    <br>  
  </div>
<h4 class="text-center">Личные данные</h4>
<table class="table table-hover table-bordered table-container table-aligment">
  <thead>
      <tr>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          <th>Дата рождения</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{sharedPatientDetailed.familyName}}</td>
          <td>{{sharedPatientDetailed.name}}</td>
          <td>{{sharedPatientDetailed.middleName}}</td>
          <td>{{sharedPatientDetailed.birthdate | date:'dd.MM.yy'}}</td>
      </tr>        
  </tbody>
</table>
<h4 class="text-center">Заболевания</h4>
<table class="table table-hover table-bordered table-container  table-aligment">
    <thead>
        <tr>
            <th>Заболевание</th>
            <th>Поставлен диагноз</th>
            <th>Выздоровление</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of sharedPatientDetailed.patientDiseases">
            <td>{{item.disease.name}}</td>
            <td>{{item.diagnosed | date:'dd.MM.yy'}}</td>
            <td>{{item.cured | date:'dd.MM.yy'}}</td>
        </tr>        
    </tbody>
  </table>
  <h4 class="text-center">Номерки</h4>
  <table class="table table-hover table-bordered table-container  table-aligment">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Отделение</th>
            <th>Специалисты</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of sharedPatientDetailed.appointments">
            <td>{{item.dateTime | date:'dd.MM.yy'}}</td>
            <td>{{item.dateTime | date:'HH:mm'}}</td>
            <td>{{item.staff.department.name}}</td>
            <td>{{item.staff.position.name}}</td>
            <td>{{item.staff.familyName}}</td>
            <td>{{item.staff.name}}</td>
            <td>{{item.staff.middleName}}</td>
        </tr>        
    </tbody>
  </table>