<div class="container filter-conteiner">

  <div class="row">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadPatients()" novalidate>
      <div class="form-group">
        <label for="name">ФИО</label>
        <input type="string" class="form-control" style="width: 270px" id="name" name="name">
      </div>


      <button type="submit" class="btn btn-primary" style="margin-left:10px">Найти</button>
      <button type="button" class="btn btn-info" style="margin-left:10px" (click)="resetFilters()">Сбросить</button>
      <!-- <div class="pull-right">
          <label style="margin-right: 10px">Order By: </label>
          <div class="btn-group">
            <button type="button" [(ngModel)]="userParams.orderBy" name="orderBy" class="btn btn-primary" btnRadio="lastActive" (click)="loadUsers()">Last Active</button>
            <button type="button" [(ngModel)]="userParams.orderBy" name="orderBy" class="btn btn-primary" btnRadio="created" (click)="loadUsers()">Newest Members</button>
          </div>
      </div> -->
    </form>
  </div>
  <br>  
</div>


<h4 class="text-center">Пациенты</h4>
<table class="table table-hover table-bordered table-container  table-aligment">
  <thead>
      <tr>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of sharedPatientsList" (click)="linkToUser(item.id)">
          <td>{{item.familyName}}</td>
          <td>{{item.name}}</td>
          <td>{{item.middleName}}</td>
      </tr>        
  </tbody>
</table>

  <div class="text-center">
      <pagination [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage" 
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="pagination.currentPage" class="pagination-sm"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>