<form #registerForm="ngForm" (ngSubmit)="StaffRegister()">
  <h2 class="text-center text-primary">Введите свои данные</h2>

  <hr>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Имя" required name="name" [(ngModel)]="staffModel.name">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Отчество" required name="middleName" [(ngModel)]="staffModel.middleName">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Фамилия" required name="familyName" [(ngModel)]="staffModel.familyName">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Пароль" required name="password" [(ngModel)]="staffModel.password">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Зарегистрировать</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Отмена</button>
  </div>
</form>