<h4 class="text-center">Отделения</h4>

  <div class="container filter-conteiner">

    <div class="row">
      <form class="form-inline" #form="ngForm">
        <button type="button" class="btn btn-info" style="margin-left:10px" (click)="departmentRegister()">Новый отделение</button>
      </form>
    </div>
    <br>  
  </div>

<table class="table table-hover table-bordered table-container  table-aligment">
  <thead>
      <tr>
          <th>Наименование</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of sharedDepartmentsList" (click)="linkToUser(item.id)">      
      <td>{{item.name}}</td>              
    </tr>             
  </tbody>
</table>