<div class="container filter-conteiner">
      <div class="row">
      <form class="form-inline" #form="ngForm" (ngSubmit)="loadDiseases()" novalidate>
        <div class="form-group">
          <input type="string" class="form-control" style="width: 270px" id="name" placeholder="Название заболевания" name="name" (keyup)="loadDiseases()" [(ngModel)]="userParams.name">
          <button type="button" class="btn btn-info" style="margin-left:10px" (click)="diseaseRegister()">Новое заболевание</button>
        </div>  
      </form>
    </div>
    <br>  
  </div>
  

<h4 class="text-center">Заболевания</h4>
  <table class="table table-hover table-bordered table-container  table-aligment">
    <thead>
        <tr>
            <th>Название</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of sharedDiseasesList" (click)="linkToUser(item.id)">
            <td>{{item.name}}</td>
        </tr>        
    </tbody>
  </table>

    <div class="text-center">
        <pagination [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage" 
        (pageChanged)="pageChanged($event)"
        [(ngModel)]="pagination.currentPage" class="pagination-sm"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>