.table-aligment{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;  
}
tr{
    cursor: pointer;
}

.filter-conteiner{
    max-width: 10%;
    margin-left: auto;
    margin-right: auto;
}