<div *ngIf="!registerMode" style="text-align:center">
    <h1>Электронная онлайн регистратура</h1>
    <p class="lead">Для записи на прием, а также получения доступа к другим возможностям системы зайдите под своей учетной записью.</p>
    <p class="lead">Если у Вас нет учетной записи - зарегистрируйтесь</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg" [routerLink]="['/patientRegister']">Регистрация</button>
      <!-- <button class="btn btn-info btn-lg">Узнать больше</button> -->
    </div>
  </div>  
  